<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standard Units</title>
</head>
<body>
    <form method="post" action="/create">
        <p><input type="text" placeholder="Title" name="title"/></p>
        <p><input type="text" placeholder="Definition" name="definition"/></p>
        <p><input type="text" placeholder="Symbol" name="symbol"/></p>
        <p><input type="text" placeholder="Dimension" name="dimension"/></p>
        <p><input type="submit"/></p>
    </form>
</body>
</html>