<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standard Units</title>
</head>
    <body>`
        <form method="post" action="/update">
            <p><input type="hidden" placeholder="Id" name="id" th:value="${unit.id}"/></p>
            <p><input type="text" placeholder="Title" name="title" th:value="${unit.title}"/></p>
            <p><input type="text" placeholder="Definition" name="author" th:value="${unit.definition}"/></p>
            <p><input type="text" placeholder="Symbol" name="genre" th:value="${unit.symbol}"/></p>
            <p><input type="text" placeholder="Dimension" name="genre" th:value="${unit.dimension}"/></p>
            <p><input type="submit"/></p>
        </form>
    </body>`
</html>